
body{

    position:relative;
}
.container-fluid{
    padding-right:0!important;
    padding-left:0!important;
}


h2{
    margin-top:20px;
}
h3{
    font-size:1.5rem;
    margin-top:10px;
    margin-bottom:10px;
}



.underline{
    height:2px;
    width:4vw;
    background-color: rgb(75, 75, 75);
    margin-right:auto;
    margin-left:auto;

    
    margin-bottom:30px;
}





/* Barre de navigation */
#navbarSupportedContent{
    justify-content: center;

    li{
        padding: 0 10px 0 10px;
    }
}

.navbar{
    background-color: rgba(146, 146, 146, 0.884);
}






/* Présentation */
.bg-banniere{
    background-image: url(../img/banniere-bg.png);
    background-size: 100%;
    height:580px;
}

.b-parallax{
    background-attachment:fixed;
}

#presentation{
    margin-top:11vw;

    h1, p{
        color:white;
    }
    p{
        font-size:2.3rem;
    }
}






/* Portfolio */
#portfolio{
    img{
        width:100%;
    }
}






@media screen and (max-width: 1565px){

    .bg-banniere{
        height:32vw;        
    }
}

@media screen and (max-width: 1065px){

    .bg-banniere{
        background-size: cover;  
        background-size: auto;     
        height:400px;
    }

    #presentation{
        margin-top:110px;

        h1,p {
            font-size:2rem;
        }
    }
}


@media screen and (max-width: 565px){

    #presentation{
        margin-top:130px;

        h1,p {
            font-size:1.5rem;
        }
    }
}